<head>
  <title>Wordle</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <script
    src="https://unpkg.com/htmx.org@1.7.0"
    integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="main.css" />
</head>
